<html lang="en">
    <head>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>api the future is green</title>
    </head>
    <body>
        <h1>buscar los siguente comandos</h1>
        <h2>/productos</h2>
        <h2>/usuarios</h2>
        <p>las cosas q se puede hacer son: list, show, store, delete</p>
    </body>
</html>